﻿@model GlobalizedValidationTest.Models.TestViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm()) {
        <div>Change the language in your browser to see the formatting.</div>
        <div>Editor for:</div>
        <div>@Html.EditorFor(x => x.TestDouble)</div>
        <div>@Html.ValidationMessageFor(x => x.TestDouble)</div>
        @*<div>Textbox for:</div>
        <div>@Html.TextBoxFor(x => x.TestDouble)</div>
        <div>@Html.ValidationMessageFor(x => x.TestDouble)</div>*@
        
        <div><input type="submit" title="Submit" /></div>
        }

        <h3>Links to sources:</h3>

        <ul>
            <li><a href="http://www.hanselman.com/blog/GlobalizationInternationalizationAndLocalizationInASPNETMVC3JavaScriptAndJQueryPart1.aspx">Hanselman - Globalization in MVC</a></li>
            <li><a href="http://weblogs.asp.net/scottgu/archive/2010/06/10/jquery-globalization-plugin-from-microsoft.aspx">Guthrie - jQuery Globalization</a></li>
            <li><a href="http://stackoverflow.com/questions/6658856/model-binding-to-custom-types-with-different-localization">StackOverflow - MVC Double Modelbinding</a></li>
            <li><a href="http://haacked.com/archive/2011/03/19/fixing-binding-to-decimals.aspx">Haack - MVC Double Modelbinding</a></li>
        </ul>

        <script type="text/javascript">
            $(function () {
                $.validator.methods.number = function (value, element) {
                    return !isNaN(Globalize.parseFloat(value));
                }

                jQuery.extend(jQuery.validator.methods, {    
                    range: function (value, element, param) {        
                        //Use the Globalization plugin to parse the value        
                        var val = Globalize.parseFloat(value);        
                        return this.optional(element) || (val >= param[0] && val <= param[1]);    
                    }
                }); 

                $(document).ready(function () {
                    Globalize.culture('@System.Threading.Thread.CurrentThread.CurrentUICulture.Name');
                }); 
            });
        </script>
</body>
</html>
